b{
    font: 40px 宋体;
}
.table-responsive{

}
.jumbotron{
    background-color: #5bc0de;
}
span{
    font: 40px 宋体;
    color: #f7e1b5;
}
#info{

}
.bg-primary{
    background-color: #5cc8ac;
}
.jumbotron{
    padding-top: 10%;
    width: 100%;
    height: 100%;
    text-align: center;
}
#name:hover{
    color: #fff;
}
#zy:hover{
    color: #fff;
}
#school:hover{
    color: #fff;
}
#gi:hover{
    color: #fff;
}